{%load static%}
<!DOCTYPE html>
<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Otika - Admin Dashboard Template</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
            <li>
              <form class="form-inline mr-auto">
                <div class="search-element">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                  <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </li>
          </ul>
        </div>

      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">

          <ul class="sidebar-menu">
            <li class="dropdown active">
              <a href="{%url 'dash:main'%}" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="briefcase"></i><span>Quizes</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'dash:quiz_create' %}">Create Quizz</a></li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>
      <div class="main-content">
      {%block content%}
      
      {%endblock%}
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/92b00ac3f6.js" crossorigin="anonymous"></script>
<!-- General JS Scripts -->
<script src="{% static 'assets/js/app.min.js'%}"></script>
<!-- JS Libraies -->
<script src="{% static 'assets/bundles/apexcharts/apexcharts.min.js'%}"></script>
<!-- Page Specific JS File -->
<script src="{% static 'assets/js/page/index.js'%}"></script>
<!-- Template JS File -->
<script src="{% static 'assets/js/scripts.js'%}"></script>
<!-- Custom JS File -->
<script src="{% static 'assets/js/custom.js'%}"></script>

</body>


<!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>

